* {
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Spicy Rice", serif;
    font-style: normal;
    overflow: hidden;
}

header {
    position: fixed; /* Fijo en la parte superior */
    top: 0; /* Pegado a la parte superior de la ventana */
    left: 0; /* Alineado a la izquierda */
    width: 100%; /* Ocupa todo el ancho */
    z-index: 1000;
    background:transparent; /* Fondo para el encabezado */
}

.titulo {
    font-size: 30px;
    padding: 3px 30px;
    position: absolute;
    color: white;
    transition: transform 0.5s;
    text-align: center;
}

.titulo:hover {
    transform: scale(1.2);
    color: yellow;
}

nav {
    width: 100%;
    background-color: transparent;
    font-size: 30px;
    background: rgb(0, 0, 0);
}

.menu1 {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /* Alinear a la derecha */
}

.menu1 li a {
    display: block;
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background: transparent;
    font-size: 40px;
}

.menu1 li a:hover {
    background: yellow;
    color: black;
}

.menu {
    position: absolute;
    display: none;
    list-style-type: none;
    width: 264px;
    background-color: rgba(12, 12, 12, 0.527);
    z-index: 1;
}

.menu1 li:hover .menu {
    display: block;
}

.menu li:hover {
    background-color: black;
}

.menu li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.555);
    font-size: 20px;
}

.menu li a:hover {
    color: black;
}

main {
    height: 100vh; /* Altura total de la ventana */
    background-image: url('/imagenes/one.jpg'); /* Ruta corregida */
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
    position: relative; /* Para el contexto de posicionamiento */
}

main .inicio {
    font-size: 20px;
}

main .inicio h1 {
    position: absolute;
    top: 14%;
    left: 66%;
    font-size: 70px;
    transition: transform 0.5s;
}
main .inicio h1:hover{
    transform: scale(1.1);
    color: #ff0000;
}
main .inicio h2 {
    position: absolute;
    top: 30%;
    left: 55%;
    width: 600px;
    text-align: center;
}

main .inicio img {
    position: absolute;
    width: 57%;
    top: -1.5%;
    z-index: 1001;
    transition: transform 0.5s;
}
main .inicio img:hover{
    transform: scale(1.2);
}

.boton {
    z-index: 1001;
    position: absolute;
    top: 85%;
    left: 73%;
    align-items: center;
}

.boton p {
    background-color: black;
    border-radius: 10px;
    transition: transform 0.5s;
}
.boton p:hover{
    transform: scale(1.2);
}
.boton a {
    text-decoration: none;
    font-size: 40px;
    padding: 25px 30px;
    color: rgb(255, 255, 255);
}
.boton a:hover{
    color: yellow;
}
section {
    background-color: #f9f9f9; /* Color de fondo suave */
    padding: 0; /* Espaciado interno */
    margin: 0; /* Margen superior e inferior */
    height: 100vh;
    background-image: url('/imagenes/one-piece-netflix_5120x2878_xtrafondos.com.jpg');
    background-size: cover;
}
section .inicio2{
    position: absolute;
    background-image: url(/imagenes/one-piece-4k-tony-tony-chopper-m7o1ibc9gqr66wa9.webp);
    width: 200px;
    height: 100%;
    color: white;
   text-align: center;
   box-shadow: 5px 15px 25px black;

}
section .inicio2 h2{
    padding: 10px 60px;
    font-size: 48px;
    transition:color 0.5s;
    position: absolute;
    background: rgb(255, 0, 212);
    top: 81%;
    color: black;
    box-shadow: 5px 15px 15px black;
    transition:transform 0.5s ;
}
section .inicio2 h2:hover{
    transform: scale(1.1);
    color: rgb(255, 0, 0);
    box-shadow: 5px 20px 20px black;
}
section .inicio2 p{
    position: absolute;
    width: 950px;
    top: 10%;
    left: 176%;
    color: black;
    font-size: 22px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.671);
    padding: 30px;
    box-shadow: 0 0 15px black;
}
strong:hover{
    color: rgb(255, 0, 0);
}

.section1 {
    position: relative;
    padding: 0; /* Espaciado interno */
    margin: 0; /* Margen superior e inferior */
    height: 100vh;
    background-image: url(/imagenes/1329444.jpg);
    background-size: cover;
}
.section1 .creador{
    position: absolute;
    background-color: black;
    width: 200px;
    height: 100%;
    color: white;
   text-align: center;
   box-shadow: 5px 15px 25px black;
}
.section1 .creador h2{
    padding: 10px 60px;
    font-size: 48px;
    transition:color 0.5s;
    position: absolute;
    background: #ff0000;
    top: 81%;
    color: black;
    box-shadow: 5px 15px 15px black;
    transition:transform 0.5s ;
    width: 370px;
}
.section1 .creador h2:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    box-shadow: 5px 20px 20px black;
}
.section1 .creador p{
    position: absolute;
    width: 1000px;
    top: 19%;
    left: 145%;
    color: black;
    font-size: 22px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.473);
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.877);
}