*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Spicy Rice", serif;
    font-style: normal;
    overflow: hidden;
}
header{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    box-shadow: 0 10px 10px rgb(0, 0, 0);
}
header:hover{
    color: yellow;
}
.section1{
    padding: 0; /* Espaciado interno */
    margin: 0; /* Margen superior e inferior */
    height: 100vh;
    background-image: url('img\fondo.jpeg');
    background-size: cover;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:justify;
}

.card {
    background-color: rgba(253, 253, 253, 0.712);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    margin: 5px 6px;
    padding: 5px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); /* Efecto de hover */
}

.card h3 {
    color: #000000;
    margin-bottom: 1px;
}

.card p {
    color: #000000;
    font-size: 0.8em;
}
.card img{
    width: 162px;
    border-radius: 10px;
}
.boton {
    z-index: 1001;
    position: absolute;
    top: 1.5%;
    left: 1%;
    align-items: center;
}
.boton p {
    background-color: rgb(255, 230, 0);
    border-radius: 10px;
    transition: transform 0.5s;
}
.boton p:hover{
    transform: scale(1.2);
}
.boton a {
    text-decoration: none;
    font-size: 40px;
    padding: 25px 30px;
    color: rgb(255, 255, 255);
}
.boton a:hover{
    color: rgb(0, 0, 0);
}
